**/__pycache__
**/*.pyc
*.pyc

.env
.venv
.DS_Store
.vscode
.idea

.mypy_cache
.pytest_cache

Dockerfile

/abi
/env
/dist
/build
/reports
/contracts
/interfaces
/node_modules
/sphinx-docs
/docker-test

/docs/pydoc-markdown
/docs/mkdocs/site
/docs/build