[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
thirdweb-web3 = "*"
thirdweb-contract-wrappers = "*"
dataclasses-json = "*"
requests = "*"

[dev-packages]
flake8 = "*"
flake8-annotations = "*"
autopep8 = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
pre-commit = "*"

[scripts]
precommit = "pre-commit install"
lint = "pre-commit run --all-files"
tests = "python -m unittest"
