name: Flake8 Linting

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Flake8 Linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        id: python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv sync -d

      - name: Lint with flake8
        run: |
          pipenv run lint
